<div style="width: 100%;margin-top:25px; height: 24px; justify-content:center; align-items: center; gap: 14px; display: inline-flex;z-index: 1;">
    <div (click)="selectTab('home')" style="width: 50px;z-index: 99999; height: 24px; justify-content: center; align-items: center; display: flex">
      <div [style.color]="selectedTab === 'home' ? '#613A73' : 'white'"   class="menu-item">Home</div>
    </div>
    <div (click)="selectTab('about')"  style="width: 58px;z-index: 99999; height: 24px; padding-left: 4px; padding-right: 3px; justify-content: center; align-items: center; display: flex">
      <div [style.color]="selectedTab === 'about' ? '#613A73' : 'white'"  class="menu-item">About</div>
    </div>
    <div (click)="downloadResume();selectTab('resume')" style="width: 70px;z-index: 99999; height: 24px; padding-left: 1px; justify-content: center; align-items: center; display: flex">
      <div [style.color]="selectedTab === 'resume' ? '#613A73' : 'white'"  class="menu-item">Resume</div>
    </div>
    <img style="position: absolute;top:5px;" src="header-shadow.svg" alt="">
  </div>
  <img src="end-shad.svg" style="position: absolute;right: 0px;" alt="">